<section>
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="/assets/img/arabic_header.png" class="w-50" alt="" />
      <h1 class="arabic-title">Arab tili</h1>
    </div>
    <ng-container *ngIf="lang === 'uz'">
      <p class="course-desc">
        Bizning o'quv markazimiz arab tilini o'rganmoqchi bo'lganlar uchun
        maxsus kurslar taklif etadi. Arab tili dunyoning eng ko'p ishlatiladigan
        tillaridan biri bo'lib, bu tilni o'rganish ko'plab imkoniyatlar eshigini
        ochadi.
        <br />
        <br />
        Kurslarimizda talaffuz, yozuv, grammatika va arab madaniyatini o'rganish
        imkoniyati mavjud. O'qituvchilarimiz yuqori malakali bo'lib, har bir
        talaba bilan individual yondashuvni ta'minlaydi. Arab tilida erkin
        gaplashish va yozishni o'rganib, ko'plab talabalarimiz akademik va
        kasbiy faoliyatlarida muvaffaqiyatlarga erishganlar.

        <br />
        <br />

        Kurs davomida zamonaviy o'qitish usullaridan foydalanamiz va
        tinglovchilarimizga qulay o‘qitish sharoitlarini taqdim etamiz. Kurslar
        tugagach, talabalar arab tilida erkin muloqot qilish darajasiga
        yetadilar.
      </p>
    </ng-container>
    <ng-container *ngIf="lang === 'ru'">
      <p class="course-desc">
        Наш учебный центр предлагает специальные курсы для желающих выучить
        арабский язык. Арабский язык — один из наиболее распространенных языков
        в мире, и его изучение открывает множество возможностей. Наши курсы
        включают возможность изучения произношения, письма, грамматики и
        арабской культуры.
        <br />
        <br />
        Наши преподаватели имеют высокую квалификацию и обеспечивают
        индивидуальный подход к каждому ученику. Научившись свободно говорить и
        писать по-арабски, многие наши студенты добились успехов в академической
        и профессиональной карьере.

        <br />
        <br />

        В ходе обучения мы используем современные методы обучения и обеспечиваем
        нашим студентам комфортные условия обучения. По окончании курсов
        студенты достигнут уровня свободного общения на арабском языке.
      </p>
    </ng-container>
    <ng-container *ngIf="lang === 'en'">
      <p class="course-desc">
        Our training center offers special courses for those wishing to learn
        Arabic. Arabic is one of the most widely spoken languages ​​in the
        world, and learning it opens up many opportunities. Our courses include
        the opportunity to study pronunciation, writing, grammar, and Arabic
        culture.
        <br />
        <br />
        Our teachers are highly qualified and provide an individual approach to
        each student. Many of our students have achieved success in their
        academic and professional careers after learning to speak and write
        Arabic fluently.

        <br />
        <br />

        We use modern teaching methods and provide our students with a
        comfortable learning environment. Upon completion of the courses,
        students will reach a level of fluent communication in Arabic.
      </p>
    </ng-container>
  </div>
</section>
