<section>
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="/assets/img/english_header.png" class="w-50" alt="" />
      <h1 class="arabic-title">Ingliz tili</h1>
    </div>
    <ng-container *ngIf="lang === 'uz'">
      <p class="course-desc">
        Ingliz tili kurslarimiz talabalarga xalqaro darajada o'qish va ishlash
        imkoniyatlarini yaratishga yordam beradi. O‘quv markazimizda ingliz
        tilini o‘rganish jarayoni talaffuz, o‘qish, yozish va tinglash
        ko‘nikmalarini rivojlantirishga qaratilgan.
        <br />
        <br />
        Ingliz tilida muvaffaqiyatga erishgan ko‘plab talabalardan ilhomlaning!
        Kurslarimiz nafaqat tilni o'rganishga, balki global muloqotda
        muvaffaqiyatli bo'lishga yo'naltirilgan.

        <br />
        <br />

        Tajribali o'qituvchilar va zamonaviy metodika yordamida talabalar qisqa
        vaqt ichida ingliz tilini erkin egallaydilar. Markazimiz orqali ko‘plab
        talaba ingliz tili imtihonlarida yuqori natijalar ko‘rsatdi va chet elda
        o‘qish imkoniyatiga ega bo‘ldi. Siz ham ushbu muvaffaqiyat qatoriga
        qo‘shiling!
      </p>
    </ng-container>
    <ng-container *ngIf="lang === 'ru'">
      <p class="course-desc">
        Наши курсы английского языка помогают студентам создать возможности для
        учебы и работы на международном уровне. Процесс изучения английского
        языка в нашем образовательном центре направлен на развитие навыков
        произношения, чтения, письма и аудирования.
        <br />
        <br />
        Вдохновитесь опытом многих студентов, добившихся успеха в английском
        языке! Наши курсы ориентированы не только на изучение языка, но и на
        достижение успеха в глобальном общении. С помощью опытных преподавателей
        и современных методов студенты за короткое время свободно выучат
        английский язык.

        <br />
        <br />

        Благодаря нашему центру многие студенты показали высокие результаты на
        экзаменах по английскому языку и получили возможность учиться за
        границей. Присоединяйтесь к этой линии успеха!
      </p>
    </ng-container>
    <ng-container *ngIf="lang === 'en'">
      <p class="course-desc">
        Our English courses help students create opportunities to study and work
        internationally. The process of learning English at our educational
        center is aimed at developing pronunciation, reading, writing and
        listening skills.
        <br />
        <br />
        Be inspired by the experience of many students who have achieved success
        in English! Our courses are focused not only on learning the language,
        but also on achieving success in global communication. With the help of
        experienced teachers and modern methods, students will learn English
        fluently in a short time.

        <br />
        <br />

        Thanks to our center, many students have shown high results in English
        exams and received the opportunity to study abroad. Join this line of
        success!
      </p>
    </ng-container>
  </div>
</section>
