a {
    text-decoration: none !important;
    color: #fff !important;
}
footer {
  background-color: #35b772 !important;
  margin: 40px 20px 0px 20px;
  border-radius: 25px;
  padding: 70px 0px 70px 0px;
  h1 {
    font-size: 50px;
    font-weight: bold;
    width: 250px;
    color: #fff;
    position: relative;
    &::after {
      position: absolute;
      content: url(/assets/svg/wave-footer.svg);
      width: 200px;
      margin-left: 20px;
    }
  }

  .icon-box {
    display: flex;
    align-items: center !important;
    text-decoration: none !important;
    cursor: pointer;
    margin-bottom: 10px;
    p {
      font-size: 18px;
      margin-bottom: 0px !important;
      padding-bottom: 0px !important;
      color: #fff !important;
    }
    i {
      padding: 10px;
      background-color: #fff;
      color: #35b772 !important;
      border-radius: 50px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      margin-right: 15px;
    }
  }
}

.last {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    .number h2 {
        font-size: 54px;
        color: #fff;
    }
}

@media screen and (max-width: 650px) {
  footer {
    margin: 0px !important;
    padding-top: 20px !important;
    .container .col-md-6 .d-flex {
      display: block !important;
      .ms-5 {
        margin-left: 0px !important;
      }
    }
    h1 {
      font-size: 30px !important;
      white-space: nowrap;
      &::after {
        bottom: -20px !important;
        margin-left: 0px !important;
        left: 0px !important;
        width: 100px;
      }
    }
    .col-md-5 {
      margin-top: 10px;
    }

    .last {
      justify-content: center !important;
      align-items: center !important;
    }

    .number h2 {
      font-size: 25px !important;
      text-align: center;
    }
  }
}