<footer id="contactus" *ngIf="headerFooter">
  <h2 class="text-center mb-5" id="contact-h2">
    {{ "contact-now" | translate }}
  </h2>
  <div class="container">
    <div class="row pb-3">
      <div class="col-md-12">
        <div class="card rounded-0">
          <div class="card-body send-info-card">
            <form (submit)="postMessage()">
              <div class="mb-3">
                <label for="exampleNam" class="form-label form-label-name">{{
                  "name" | translate
                }}</label>
                <input
                  type="text"
                  id="exampleNam"
                  class="form-control"
                  aria-describedby="name"
                  placeholder="{{ 'your-name' | translate }}"
                  name="name"
                  [(ngModel)]="name"
                  required
                />
              </div>
              <div class="mb-3 disabled-input">
                <label for="name" class="form-label form-label-phone">{{
                  "phone" | translate
                }}</label>
                <div class="d-flex">
                  <input disabled value="+998" class="form-control" />
                  <input
                    type="text"
                    class="form-control contact-number numb"
                    id="exampleNumber"
                    aria-describedby="name"
                    name="number"
                    [(ngModel)]="number"
                    (keydown)="validateInput($event)"
                    required
                    appMask
                    pattern="[0-9]{3} [0-9]{3} [0-9]{2} [0-9]{2}"
                  />
                </div>
                <small class="text-danger" *ngIf="error">
                  {{ "error-message" | translate }}
                </small>
              </div>
              <label for="form-select" class="form-label form-label-branch"
                >{{ "branch" | translate }}
              </label>
              <select
                class="form-select mb-3"
                aria-label="Default select example"
                id="geolocation_select"
                name="branch"
                [(ngModel)]="branch"
                required
              >
                <option value="">{{ "choose-branch" | translate }}</option>
                <option value="Chorsu">{{ "chorsu" | translate }}</option>
                <option value="Kadisheva">{{ "kadisheva" | translate }}</option>
                <option value="Qatortol">{{ "qatortol" | translate }}</option>
                <option value="Sergeli">{{ "sergeli" | translate }}</option>
                <option value="Integro">{{ "integro" | translate }}</option>
              </select>
              <label
                for="type"
                class="mb-2"
                id="form-label-course"
                class="form-label-course form-label"
                >{{ "course" | translate }}
              </label>
              <select
                class="form-select mb-3"
                aria-label="Default select example"
                id="course_select"
                name="course"
                [(ngModel)]="course"
                required
              >
                <option value="">{{ "choose-course" | translate }}</option>
                <option value="Hamshiralik">
                  {{ "medicine" | translate }}
                </option>
                <option value="Arab tili">{{ "arabic" | translate }}</option>
                <option value="Ingiliz tili">
                  {{ "english" | translate }}
                </option>
                <option value="Rust tili">{{ "russian" | translate }}</option>
              </select>
              <button type="submit" class="btn btn-primary" id="submit-button">
                {{ "send" | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="final-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img
          src="/assets/img/savod_white.png"
          width="100%"
          routerLink="/"
          class="cursor-pointer"
        />
      </div>
      <div class="col-md-4">
        <h5 id="courses-h5">{{ "courses" | translate }}</h5>
        <ul class="footer-card-courses-ul ps-0">
          <a href="#hamshira">
            <li>{{ "about-us" | translate }}</li>
          </a>

          <a href="/courses">
            <li>{{ "courses" | translate }}</li>
          </a>
          <a href="/branches">
            <li>{{ "branches" | translate }}</li>
          </a>
          <a href="/form">
            <li>{{ "contact-now" | translate }}</li>
          </a>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="footer-card">
          <h5 id="getintouch-h5">{{ "contact-us" | translate }}</h5>
          <div class="d-flex flex-column">
            <a class="text-white" href="tel:+998 (78) 113-93-39">
              +998 (78) 113-93-39
            </a>
            <a class="text-white" href="tel:+998 (97) 848-22-22">
              +998 (97) 848-22-22
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="w-100 position-fixed"
  *ngIf="show"
  style="
    min-height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    top: 0px;
    z-index: 10000 !important;
  "
>
  <div class="modal d-block w-100 show" id="staticBackdrop">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-center">
          <h3 class="mb-0 modal-badge">Savodschool</h3>
        </div>
        <div
          class="modal-body d-flex flex-column align-items-center justify-content-center"
        >
          <h5 class="mb-2 text-center">{{ "message" | translate }}</h5>
          <svg
            width="115px"
            height="115px"
            viewBox="0 0 133 133"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="check-group"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <circle
                id="filled-circle"
                fill="#05AD4C"
                cx="66.5"
                cy="66.5"
                r="54.5"
              />
              <circle
                id="white-circle"
                fill="#FFFFFF"
                cx="66.5"
                cy="66.5"
                r="55.5"
              />
              <circle
                id="outline"
                stroke="#05AD4C"
                stroke-width="4"
                cx="66.5"
                cy="66.5"
                r="54.5"
              />
              <polyline
                id="check"
                stroke="#FFFFFF"
                stroke-width="5.5"
                points="41 70 56 85 92 49"
              />
            </g>
          </svg>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary w-100 btn-lg"
            (click)="show = false"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
