<app-navbar></app-navbar>
<section id="branches">
  <h2 class="text-center pt-3" id="our-branches">
    {{ "our-branches" | translate }}
  </h2>
  <div class="swiper mySwiper mt-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="branch-card">
          <div
            class="branch-card-half branch-card-adress-photo d-flex justify-content-center align-items-center"
          >
            <img src="/assets/img/chorsu.jpg" alt="chorsu" class="w-100" />
          </div>
          <div class="branch-card-half branch-card-adress-details">
            <h1 class="branch-card-adress-location">
              {{"chorsu" | translate}}
            </h1>
            <div class="branch-card-adress-name">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="#fff"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                />
              </svg>
              <h4 class="text-white">{{"address" | translate}}:</h4>
            </div>
            <p class="branch-card-adress-paragraph">Chorsu 3A, Texnomartni oldida</p>
            <div class="branch-card-adress-links">
              <a href="https://maps.app.goo.gl/Mu7xMsLoF94Yofz38" target="_blank" class="me-4 text-white">Google Maps</a>
              <a href="https://yandex.uz/maps/-/CDXAANnQ" target="_blank" class="text-white">Yandex Maps</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="branch-card">
          <div
            class="branch-card-half branch-card-adress-photo d-flex justify-content-center align-items-center"
          >
            <img
              src="/assets/img/kadisheva.jpg"
              alt="kadisheva"
              class="w-100"
              style="scale: 1.345"
            />
          </div>
          <div class="branch-card-half branch-card-adress-details">
            <h1 class="branch-card-adress-location">
              {{ "kadisheva" | translate }}
            </h1>
            <div class="branch-card-adress-name">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="#fff"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                />
              </svg>
              <h4 class="text-white">{{ "address" | translate }}:</h4>
            </div>
            <p class="branch-card-adress-paragraph">Aviasozlar ko'chasi 59</p>
            <div class="branch-card-adress-links">
              <a href="https://maps.app.goo.gl/s7DkCTcTGPsm5mrD9" class="me-4 text-white">Google Maps</a>
              <a href="https://yandex.uz/maps/-/CDXFJUiY" class="text-white">Yandex Maps</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="branch-card">
          <div
            class="branch-card-half branch-card-adress-photo d-flex justify-content-center align-items-center"
          >
          <img
            src="/assets/img/kadisheva.jpg"
            alt="kadisheva"
            class="w-100"
            style="scale: 1.345"
            />
          </div>
          <div class="branch-card-half branch-card-adress-details">
            <h1 class="branch-card-adress-location">
              {{ "qatortol" | translate }}
            </h1>
            <div class="branch-card-adress-name">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="#fff"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                />
              </svg>
              <h4 class="text-white">{{ "address" | translate }}:</h4>
            </div>
            <p class="branch-card-adress-paragraph">Qatortol ko'chasi, 60/4, 2 etaj</p>
            <div class="branch-card-adress-links">
              <a href="https://maps.app.goo.gl/xYFKQRRMSkPF6hSe8" class="me-4 text-white">Google Maps</a>
              <a href="https://yandex.uz/maps/-/CDXFN-Ju" target="_blank" class="text-white">Yandex Maps</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="branch-card">
          <div
            class="branch-card-half branch-card-adress-photo d-flex justify-content-center align-items-center"
          >
            <img src="/assets/img/sergeli.jpg" alt="sergeli" class="w-100" />
          </div>
          <div class="branch-card-half branch-card-adress-details">
            <h1 class="branch-card-adress-location">
              {{ "sergeli" | translate }}
            </h1>
            <div class="branch-card-adress-name">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="#fff"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                />
              </svg>
              <h4 class="text-white">{{ "address" | translate }}:</h4>
            </div>
            <p class="branch-card-adress-paragraph">Sergeli 8/3</p>
            <div class="branch-card-adress-links">
              <a href="https://maps.app.goo.gl/ztMCDsH6cDGk46Ww5" class="me-4 text-white">Google Maps</a>
              <a href="https://yandex.uz/maps/-/CDXFZ2~4" class="text-white">Yandex Maps</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="branch-card">
          <div
            class="branch-card-half branch-card-adress-photo d-flex justify-content-center align-items-center"
          >
            <img src="/assets/img/integro.jpg" alt="intergo" class="w-100" />
          </div>
          <div class="branch-card-half branch-card-adress-details">
            <h1 class="branch-card-adress-location">
              {{ "integro" | translate }}
            </h1>
            <div class="branch-card-adress-name">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="#fff"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                />
              </svg>
              <h4 class="text-white">{{ "address" | translate }}:</h4>
            </div>
            <p class="branch-card-adress-paragraph">Bunyodkor shoh ko'chasi 52</p>
            <div class="branch-card-adress-links">
              <a href="https://maps.app.goo.gl/P7iRfeuJRX6Ukkvr6" target="_blank" class="me-4 text-white">Google Maps</a>
              <a href="https://yandex.uz/maps/-/CDXFNOIf" target="_blank" class="text-white">Yandex Maps</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<app-footer></app-footer>
