<section>
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="/assets/img/medicine_header.png" class="w-50" alt="" />
      <h1 class="medicine-title">Hamshiralik kursi</h1>
    </div>
    <ng-container *ngIf="lang === 'uz'">
      <p class="course-desc">
        Bizning o'quv markazimizda umumiy hamshiralik fani bo'yicha kurslar
        orqali sog'liqni saqlash sohasida muhim malakalarni o'rganishingiz
        mumkin. Kurs amaliy va nazariy bilimlarni qamrab olib, sog‘liqni
        saqlash, birinchi yordam ko‘rsatish va bemorlarni parvarish qilish
        qoidalarini o‘rgatadi.
        <br />
        <br />
        Tajribali hamshiralik mutaxassislarimizning yordami bilan talabalar o‘z
        kasbiy ko‘nikmalarini rivojlantirishlari mumkin. Muvaffaqiyatli
        talabalardan biri sog‘liqni saqlash sohasida ish topgan va hozirda
        xalqaro kasb tajribasiga ega.
        <br />
        <br />

        Kurs oxirida talabalarga sertifikatlar beriladi, bu esa kasbiy
        faoliyatni boshlashda qo‘shimcha imkoniyatlar yaratadi. Sifatli ta'lim
        orqali sog‘liqni saqlash sohasida katta muvaffaqiyatlarga erishing!
      </p>
    </ng-container>
    <ng-container *ngIf="lang === 'ru'">
      <p class="course-desc">
        В нашем учебном центре вы можете получить необходимые навыки в области
        здравоохранения на курсах общего ухода. Курс охватывает практические и
        теоретические знания и обучает здравоохранению, первой помощи и уходу за
        пациентами.
        <br />
        <br />
        С помощью наших опытных медсестер студенты могут развивать свои
        профессиональные навыки. Один из успешных студентов устроился на работу
        в сферу здравоохранения и теперь имеет международный опыт работы.
        <br />
        <br />

        По окончании курса студентам вручаются сертификаты, предоставляющие
        дополнительные возможности для начала профессиональной карьеры.
        Достигайте больших успехов в здравоохранении через качественное
        образование!
      </p>
    </ng-container>
    <ng-container *ngIf="lang === 'en'">
      <p class="course-desc">
        At our training center, you can gain the necessary skills in the field
        of healthcare on the general nursing courses. The course covers
        practical and theoretical knowledge and teaches healthcare, first aid
        and patient care.
        <br />
        <br />
        With the help of our experienced nurses, students can develop their
        professional skills. One of the successful students got a job in the
        healthcare field and now has international work experience.
        <br />
        <br />
        Upon completion of the course, students are awarded certificates,
        providing additional opportunities to start a professional career.
        Achieve great success in healthcare through quality education!
      </p>
    </ng-container>
  </div>
</section>
